@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
    /* margin-left: 1.7rem; */
    font-size: 24px;
    margin-left: 53px;
}
.card-container {
    
    display: flex;
    justify-content: space-evenly;
    margin-left: 26px;
    margin-right: 24px;
}

.cards {
    /* border: 1px solid #fff; */
    background-color: #fff;
    border-radius: .5rem;
    height: 18vh;
    width: 18%;
    padding: 2rem 1.2rem;
}

.cards h4, .cards p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;

}

.cards p {
    
    font-weight: 400;
    color: #6c757d;
    font-size: 13px;
}
