<h3>Students</h3>

<div class="card-container">
    <div class="cards">
        <h4>50</h4>
        <p>Total Number of Students</p>
    </div>
    <div class="cards">
        <h4>50</h4>
        <p>Number of Student with Approved Loans</p>
    </div>
    <div class="cards">
        <h4>50</h4>
        <p>Total Number of Pending Loans</p>
    </div>
    <div class="cards">
        <h4>50</h4>
        <p>Total Loan Amount Disbursed</p>
    </div>
    <div class="cards">
        <h4>50</h4>
        <p>Number of Universities Disbursed to</p>
    </div>
</div>