
  @import "~bootstrap-icons/font/bootstrap-icons.css";
  
  
  .rounded-full {
    border-radius: 100%;
  }

  
  
  #wrapper {
    
    overflow-x: hidden;
    background-color:#EFF2F6;
  }


  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    width: 315px;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  /* #sidebar-wrapper .list-group {
    width: 15rem;
  } */
  
  #page-content-wrapper {
    min-width: 100vw;
    
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }


  .list-group a:hover {
    background-color: #555;
    color: #fcc201;
  }

  .list-group a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .list-group {  
    width: 250px;
    background-color:white;
    height: 100vw;
   
  }

  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color:azure;
    font-weight: bold;
    border: none;
  }

  .navbar {
    background-color:#fcc201;
    
    height:60px;
   
   
    
    
}
.navbar-nav{
  position: relative;
}



.nav-item {

    background-color: #fcc201;
   margin-left: 5rem;
    
}

.profile{

  /* background-color: red; */
  float: right;
}


.dropdown-menu {
  position: relative;
   
  top: 6rem;
 
}
.logo-image{
  position: relative;
  width: 10vh;
  margin-top: 0px;
}
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }